*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    background-color: #003cff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    height: 60px;
    width: 150px;
    border-radius: 10px;
}

button:hover{
    box-shadow: 5px 10px 10px 0px #00000080;
}